/*
************************
    ### PARAMETERS ###
************************
*/

*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

html,body{
    height: 100%;
    scroll-behavior: smooth; 
}

.container{
    max-width: 1280px;
    margin: auto;
}

//HEADER - Begin

header{

    background-color: black;

    .container{

    display: flex;
    height: 100px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .logo{

        display: flex;
        justify-content: flex-start;
        padding-left: 30px;
        img{
            width: 80px;
            height: 80px;
            border-radius: 50%;
        }
    }

    .title-nav{

        display: flex;
        justify-content: flex-start;
        width: 30%;

        p{
            color:aliceblue;
            font-size: 30px;
        }
    }   

    .navbar{
        width: 40%;
        display: flex;
        justify-content: space-between;
        color:aliceblue;
        font-size: 30px;
        padding-right: 30px;

        a{
            color:aliceblue;
            text-decoration: none;
            padding: 5px 20px;
            border-radius: 5px;
            cursor: pointer;
        }

        a:hover{
            
            background-color: aliceblue;
            color: #398378;
            transition: 0.5s;
        }
    }
}

}



.title{
    background-image: url('../img/room01.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    
    height: 600px;
    resize: both;

    display: flex;
    justify-content: center;
    align-items: center;

    

    h2{
        font-size: 50px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color:aliceblue;
        text-shadow: 1px 2px 5px black;
    }
}

#login{

    .login-title{

        margin: 50px 0px;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-radius: 10px;

        img{
            width: 50%;
            border-radius: 20px;
        }

        #login-box{

            width: 50%;
            display: flex;
            justify-content: center;
            flex-direction: column;

            label{
                text-align: center;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                color: grey;               
            }

            input{
                width: 50%;
                height: 40px;
                margin: 5px auto 20px;
                font-size: 25px;
                color: grey;      
            }

            button{
                border: none;
                border-radius: 5px;
                margin: 50px auto 10px;
                color: white;
                background-color: #398378;
                padding: 10px 40px;
                text-align: center;
                text-decoration: none;
                font-size: 25px;
                cursor: pointer;
            }

            button:hover{
                background-color: #398378a2;
                transition: 0.5s;
            }

            a{
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                color:grey;
                padding: 10px;
                text-align: center;
            }

        }
    }       
}

.location{
    display: flex;
    justify-content: center;
    padding: 100px;
}



//HEADER - End

.intro-description{

    .intro-icons{

        display: flex;
        justify-content: space-around;

        img{
            margin: 100px 0px;
            width: 180px;
        }

        img:hover
        {
            transition: 0.3s;
            opacity: 0.6;
            cursor: pointer;
        }

    }

    .intro-paragraph{

        margin-bottom: 100px;
    
        p{
            font-size: 25px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            text-align: center;
        }
    }

}

.testimonials{

    background-color: lightgray;

    .icons{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;

        img{
            margin: 50px 0px;
            width: 250px;
        }

        p{
            width: 640px;
            font-size: 20px;
        }

    }

}

//FOOTER - begin

footer{

    background-color: black;
    height: 100px;

    .container{

        .copyright-footer{

            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            height: 100px;
            
            p{
                color:aliceblue;
                text-align: center;
                font-style: italic;
            }

        }
    }
}