/*
************************************************
### PARAMETERS ###
************************************************
*/
$bgColor0: #edf7f9;
$bgColor1: #398378;
$bgColor2: #398378a2;
$bgColor3: lightgray;
$bgColor4: black;
$bgColor5: #252424;

$txtColor0: aliceblue;
$txtColor1: #398378;
$txtColor2: grey;
$txtColor3: white;
$txtColor4: #333;

$btnColor0: white;
$btnColor1: #398378;

$selectedColor: #007bff;
$availableColor: #28a745;
$unavailableColor: #dc3545;

$font-size-m1: 1rem;
$font-size-m2: 1.375rem;
$font-size-m3: 1.75rem;

$max-width1: 768px;
$max-width2: 480px;

* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

html,
body {
  scroll-behavior: smooth;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

.container {
  max-width: 1280px;
  margin: auto;
}

.btn {
  padding: 12px 24px;
  margin: 10px;
  width: 180px;
  cursor: pointer;
  background-color: $btnColor1;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  transition: background-color 0.3s ease-in-out;

  &:hover {
    background-color: darken($btnColor1, 10%);
  }

  &:focus {
    outline: none;
  }

  &:disabled {
    background-color: $txtColor2;
    cursor: not-allowed;
  }
}

.input {
  width: 300px;
  margin: 10px 0;
  padding: 10px;
  border: none;
  background-color: $bgColor0;
  color: #333;
  font-size: 14px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;

  &:focus {
    outline: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
}

/*
************************************************
### HEADER ###
************************************************
*/
header {
  background-color: $bgColor4;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;

  .container {
    display: flex;
    height: 100px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    @media screen and (max-width: $max-width1) {
      height: 51px;
      font-size: $font-size-m2;
      font-weight: 700;
    }

    .logo {
      display: flex;
      justify-content: center;
      text-align: center;
      align-items: center;
      padding-left: 30px;

      img {
        width: 80px;
        height: 80px;
        border-radius: 50%;

        @media screen and (max-width: $max-width1) {
          display: none;
        }
      }

      .menu-logo-mobile {
        display: none;
        color: $txtColor0;

        @media screen and (max-width: $max-width1) {
          display: contents;
        }
      }
    }

    .navbar {
      background-color: $bgColor4;
      width: 100%;
      display: flex;
      justify-content: end;
      color: $txtColor0;
      font-size: 30px;

      a {
        color: $txtColor0;
        text-decoration: none;
        padding: 5px 18px;
        border-radius: 5px;
        cursor: pointer;
      }

      a:hover {
        background-color: $txtColor0;
        color: $txtColor1;
        transition: 0.5s;

        @media screen and (max-width: $max-width1) {
          width: 100%;
          text-align: center;
        }
      }

      @media screen and (max-width: $max-width1) {
        display: none;
        flex-direction: column;
        align-items: center;
        position: fixed;
        top: 50px;
      }
    }
  }

  .mobile-menu-icon {
    display: none;

    @media screen and (max-width: $max-width1) {
      background: $bgColor5;
      position: absolute;
      right: 0px;
      top: 0px;
      color: $txtColor2;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
      display: block;
      text-transform: uppercase;
      text-align: center;
    }
  }
}

.adjust-content-top {
  height: 100px;

  @media screen and (max-width: $max-width1) {
    height: 50px;
  }
}

/*
************************************************
### MAIN - INDEX ###
************************************************
*/
.intro-container {
  position: relative;
  text-align: center;

  img {
    display: block;
    max-width: 100%;
    height: auto;
  }

  .title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    h2 {
      font-size: 50px;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      color: $txtColor0;
      text-shadow: 1px 2px 5px black;
      text-align: center;

      @media screen and (max-width: $max-width1) {
        font-size: 25px;
      }
    }
  }
}

.intro-description {
  .intro-icons {
    display: flex;
    justify-content: space-around;

    img {
      margin: 50px 0px;
      width: 150px;
    }

    img:hover {
      transition: 0.3s;
      opacity: 0.6;
      cursor: pointer;
    }

    @media screen and (max-width: $max-width1) {
      flex-direction: column;
      align-items: center;
    }
  }

  .intro-paragraph {
    padding: 20px;

    p {
      font-size: 25px;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      text-align: center;
    }
  }
}

.testimonials {
  background-color: $bgColor3;

  .testimonial-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding-top: 30px;

    &:last-child {
      padding-bottom: 30px;
    }

    img {
      margin: 50px 0px;
      padding: 30px 30px;
      width: 200px;

      @media screen and (max-width: $max-width1) {
        width: 100px;
        margin: 0;
      }
    }

    p {
      width: 75%;
      font-size: 20px;
      text-align: justify;
    }

    @media screen and (max-width: $max-width1) {
      display: flex;
      flex-direction: column;
    }
  }
}

/*
************************************************
### MAIN - LOGIN ###
************************************************
*/

.container {
  #dv-display {
    display: none;
    align-items: center;
    justify-content: center;
    color: $txtColor3;
    background-color: $unavailableColor;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    height: 8%;
    border-radius: 0px 0px 10px 10px;
  }
}

#login {
  display: flex;
  align-items: center;
  height: 100vh;

  .login-title {
    width: 90%;
    margin: 10px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;

    @media screen and (max-width: $max-width1) {
      flex-direction: column;
    }

    img {
      width: 50%;
      border-radius: 20px;

      @media screen and (max-width: $max-width1) {
        display: none;
      }
    }

    #logout-box {
      width: 100%;
      display: none;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      input {
        width: 50%;
        height: 40px;
        padding: 20px;
        margin-top: 20px;
        font-size: 25px;
        color: $bgColor5;
      }

      button {
        border: none;
        border-radius: 5px;
        margin: 50px auto 10px;
        color: white;
        background-color: $bgColor1;
        padding: 10px 40px;
        text-align: center;
        text-decoration: none;
        font-size: 25px;
        cursor: pointer;
      }

      button:hover {
        background-color: $bgColor2;
        transition: 0.5s;
      }

      p {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: grey;
        padding: 20px;
        text-align: center;
      }
    }

    #login-box {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      input {
        width: 50%;
        height: 40px;
        padding: 20px;
        margin-top: 20px;
        font-size: 25px;
        color: $bgColor5;
      }

      button {
        border: none;
        border-radius: 5px;
        margin: 50px auto 10px;
        color: white;
        background-color: $bgColor1;
        padding: 10px 40px;
        text-align: center;
        text-decoration: none;
        font-size: 25px;
        cursor: pointer;
      }

      button:hover {
        background-color: $bgColor2;
        transition: 0.5s;
      }

      a {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: grey;
        padding: 20px;
        text-align: center;
      }
    }
  }
}

/*
************************************************
### MAIN - BOOKING ###
************************************************
*/
.booking {
  width: 100%;

  .owner-workspace-container {
    border: solid;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    margin: 20px;
    border: 2px solid #000000;
    background-color: #f0f0f0;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);

    p {
      margin: 0 20px;
    }
  }

  .workspaces-container {
    .search-bar-container {
      border: 2px solid #000000;
      display: flex;
      justify-content: center;
      padding: 20px;
      margin: 20px 20px;
      background-color: #f0f0f0;
      border-radius: 4px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);

      @media screen and (max-width: $max-width1) {
        flex-direction: column;
        align-items: center;
      }

      #dropdown-search-bar {
        width: 150px;
        margin: 10px 15px;
        padding: 10px;
        border: none;
        background-color: $bgColor0;
        color: #333;
        font-size: 14px;
        border-radius: 4px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

        @media screen and (max-width: $max-width1) {
          width: 300px;
          margin: 0;
        }

        &:focus {
          outline: none;
          box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        }
      }
    }

    .rooms-container {
      display: flex;
      flex-direction: column;
      width: 100%;

      .room-division {
        border: 2px solid #000000;
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 20px;
        background-color: #f0f0f0;
        border-radius: 4px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
        animation-name: fadeRight;
        animation-duration: 1s;
        animation-timing-function: ease-in-out;
        animation-fill-mode: forwards;
        opacity: 0;
        transform: translateX(100%);

        @keyframes fadeRight {
          0% {
            opacity: 0;
            transform: translateX(100%);
          }
          100% {
            opacity: 1;
            transform: translateX(0%);
          }
        }

        .room-description {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;

          @media screen and (max-width: $max-width1) {
            flex-direction: column;
          }

          img {
            width: 50%;
            margin: 50px;

            @media screen and (max-width: $max-width1) {
              width: 80%;
              margin: 20px;
              min-width: 300px;
            }
          }

          .div-workspace {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0 10px;

            ul {
              width: 100%;
            }
          }
        }

        .div-property {
          display: flex;
          flex-direction: column;
          align-items: center;
          margin: 20px 0;

          ul {
            list-style-type: none;
          }
        }

        .button-container {
          display: flex;
          justify-content: center;
          margin: 20px;
        }
      }
    }
  }

  .modal-calendar-container {
    #modal-calendar {
      border: solid;
      display: none;
      position: fixed;
      z-index: 2;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
      background-color: rgba(0, 0, 0, 0.4);
      align-items: center;
      justify-content: center;

      .modal-content {
        border: solid;
        padding: 20px;
        width: 80%;
        height: 550px;
        max-width: 600px;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: $bgColor3;

        #calendar-container {
          display: flex;
          flex-direction: column;
          align-items: center;
          max-width: 300px;

          #calendar-dates-buttons {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 15px 0;
            width: 100%;
          }

          #calendar-month-year-information {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            border: solid 2px;
            width: 100%;
          }

          table {
            width: 100%;
            border-collapse: separate;
            background-color: $bgColor5;
            margin: 15px 0;
            height: 280px;

            th,
            td {
              width: 50px;
              text-align: center;
              border: none;
              color: $txtColor2;
            }

            th {
              background-color: $bgColor0;
              height: 8px;
            }

            td.available {
              background-color: $availableColor;
              color: $txtColor0;
              cursor: pointer;

              &:hover {
                background-color: darken($availableColor, 10%);
              }
            }

            td.unavailable {
              background-color: $unavailableColor;
              color: $txtColor0;
            }

            td.selected {
              background-color: $selectedColor;
              color: $txtColor0;
              cursor: pointer;
            }
          }
        }

        .calendar-buttons-container-submit-close {
          display: flex;
          justify-content: space-between;
          width: 50%;
        }
      }
    }
  }
}

/*
************************************************
### MAIN - OWNER SPACE ###
************************************************
*/
.ownerspace {
  width: 100%;
  overflow: hidden;

  .owner-workspace-page-container {
    border: 2px solid #000000;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    margin: 20px;
    background-color: #f0f0f0;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);

    @media screen and (max-width: 900px) {
      display: flex;
      flex-direction: column;
      height: 150px;
    }

    @media screen and (max-width: $max-width1) {
      height: 280px;
      text-align: center;
    }
  }

  .workspaces-container {
    .search-bar-container {
      border: 2px solid #000000;
      display: flex;
      justify-content: center;
      padding: 20px;
      margin: 20px 20px;
      background-color: #f0f0f0;
      border-radius: 4px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);

      .search-bar-divison {
        @media screen and (max-width: $max-width1) {
          display: flex;
          flex-direction: column;
          justify-content: center;
        }

        #dropdown-search-bar-property {
          width: 150px;
          margin: 10px 15px;
          padding: 10px;
          border: none;
          background-color: $bgColor0;
          color: #333;
          font-size: 14px;
          border-radius: 4px;
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
          display: none;

          @media screen and (max-width: $max-width1) {
            width: 300px;
            margin: 0;
          }

          &:focus {
            outline: none;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
          }
        }

        #search-bar-property {
          display: none;
        }

        #dropdown-search-bar-workspace {
          width: 150px;
          margin: 10px 15px;
          padding: 10px;
          border: none;
          background-color: $bgColor0;
          color: #333;
          font-size: 14px;
          border-radius: 4px;
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

          @media screen and (max-width: $max-width1) {
            width: 300px;
            margin: 0;
          }

          &:focus {
            outline: none;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
          }
        }

        #search-bar-workspace {
          display: inline;
        }
      }
    }

    .properties-container {
      display: none;
      justify-content: space-evenly;
      flex-wrap: wrap;
    }

    .property-division {
      border: 2px solid #000000;
      min-width: 300px;
      width: 33%;
      height: 180px;
      padding: 20px;
      margin-left: 20px;
      margin-right: 20px;
      margin-bottom: 20px;
      position: relative;
      transition: transform 0.2s ease-in-out;
      background-color: #f0f0f0;
      border-radius: 4px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
      animation-name: fadeRight;
      animation-duration: 1s;
      animation-timing-function: ease-in-out;
      animation-fill-mode: forwards;
      opacity: 0;
      transform: translateX(100%);

      @keyframes fadeRight {
        0% {
          opacity: 0;
          transform: translateX(100%);
        }
        100% {
          opacity: 1;
          transform: translateX(0%);
        }
      }

      &:hover {
        transform: scale(1.05);
      }

      @media screen and (max-width: $max-width2) {
        width: 100%;
      }

      .property-description-container {
        display: flex;
        justify-content: center;
      }

      .button-property-container {
        display: flex;
        justify-content: space-around;
        margin: 10px;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
      }
    }

    .rooms-container {
      display: flex;
      flex-direction: column;
      width: 100%;

      .room-division {
        border: 2px solid #000000;
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 20px;
        background-color: #f0f0f0;
        border-radius: 4px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
        animation-name: fadeRight;
        animation-duration: 1s;
        animation-timing-function: ease-in-out;
        animation-fill-mode: forwards;
        opacity: 0;
        transform: translateX(100%);

        @keyframes fadeRight {
          0% {
            opacity: 0;
            transform: translateX(100%);
          }
          100% {
            opacity: 1;
            transform: translateX(0%);
          }
        }

        .room-description {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;

          @media screen and (max-width: $max-width1) {
            flex-direction: column;
          }

          img {
            width: 50%;
            margin: 50px;

            @media screen and (max-width: $max-width1) {
              width: 80%;
              margin: 20px;
              min-width: 300px;
            }
          }

          .workplace-description {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0 10px;

            ul {
              width: 100%;
            }
          }
        }

        .property-description-container {
          display: flex;
          flex-direction: column;
          align-items: center;
          margin: 20px 0;

          ul {
            list-style-type: none;
          }
        }

        .button-container {
          display: flex;
          justify-content: space-around;
          margin: 20px;
        }
      }
    }
  }

  .modal-add-property-container,
  .modal-add-workspace-container {
    #modal-add-property,
    .modal-add-workspace {
      border: solid;
      display: none;
      position: fixed;
      z-index: 2;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
      background-color: rgba(0, 0, 0, 0.4);
      align-items: center;
      justify-content: center;

      .modal-content-property,
      .modal-content-workspace {
        border: 2px solid #000000;
        padding: 20px;
        width: 80%;
        height: 550px;
        max-width: 600px;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #f0f0f0;

        @media screen and (max-width: $max-width2) {
          width: 85vw;
          height: 85vh;
        }

        h2 {
          padding: 10px;
          font-size: 24px;
          font-weight: bold;
          color: $txtColor4;
        }

        .add-property-form,
        .add-workspace-form {
          display: flex;
          flex-direction: column;
          align-items: center;
          border: solid 1px;
          padding: 15px;
          font-size: 16px;
          color: $txtColor4;
          margin-top: 10px;

          @media screen and (max-width: $max-width2) {
            border: none;
          }

          .button-container {
            @media screen and (max-width: $max-width1) {
              display: flex;
              flex-direction: column;
            }
          }

          p {
            cursor: default;
            margin-top: 10px;
            color: $txtColor4;
            font-weight: 500;
          }

          .add-property-radio-container,
          .add-workspace-radio-container {
            text-align: center;
            margin-top: 10px;
          }

          .radio-option-container:last-child {
            margin-bottom: 10px;
          }

          .radio-option-container {
            text-align: center;
            cursor: default;
            margin-top: 5px;

            input {
              cursor: pointer;
              margin-right: 5px;
              opacity: 0;
              position: absolute;
              z-index: -1;

              &:checked + label {
                &::before {
                  border-color: $bgColor1;
                  background-color: $bgColor1;
                }
              }

              &:focus + label {
                &::before {
                  box-shadow: 0 0 0 2px $bgColor1;
                }
              }

              &:disabled + label {
                opacity: 0.5;
                cursor: not-allowed;
              }
            }

            label {
              margin-right: 15px;
              padding: 0 2px;
              cursor: pointer;

              position: relative;
              padding-left: 25px;
              cursor: pointer;
              user-select: none;

              &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 16px;
                height: 16px;
                border: 2px solid #777;
                border-radius: 50%;
                background-color: #fff;
                transition: border-color 0.2s ease, background-color 0.2s ease;
              }
            }
          }
        }
      }
    }
  }
}

/*
************************************************
### MAIN - ABOUT PAGE ###
************************************************
*/

.container{

  h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: $txtColor4;
    margin: 20px auto;
    padding: 10px 20px;
  }

  

}

/*
************************************************
### FOOTER ###
************************************************
*/
footer {
  background-color: $bgColor4;

  .container {
    .copyright-footer {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      height: 100px;

      p {
        color: $txtColor0;
        text-align: center;
        font-style: italic;
      }
    }
  }
}
