/*
************************************************
### PARAMETERS ###
************************************************
*/
* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

html,
body {
  scroll-behavior: smooth;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

.container {
  max-width: 1280px;
  margin: auto;
}

.btn {
  padding: 12px 24px;
  margin: 10px;
  width: 180px;
  cursor: pointer;
  background-color: #398378;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  transition: background-color 0.3s ease-in-out;
}
.btn:hover {
  background-color: #2a5f57;
}
.btn:focus {
  outline: none;
}
.btn:disabled {
  background-color: grey;
  cursor: not-allowed;
}

.input {
  width: 300px;
  margin: 10px 0;
  padding: 10px;
  border: none;
  background-color: #edf7f9;
  color: #333;
  font-size: 14px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
}
.input:focus {
  outline: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/*
************************************************
### HEADER ###
************************************************
*/
header {
  background-color: black;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}
header .container {
  display: flex;
  height: 100px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  header .container {
    height: 51px;
    font-size: 1.375rem;
    font-weight: 700;
  }
}
header .container .logo {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding-left: 30px;
}
header .container .logo img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
@media screen and (max-width: 768px) {
  header .container .logo img {
    display: none;
  }
}
header .container .logo .menu-logo-mobile {
  display: none;
  color: aliceblue;
}
@media screen and (max-width: 768px) {
  header .container .logo .menu-logo-mobile {
    display: contents;
  }
}
header .container .navbar {
  background-color: black;
  width: 100%;
  display: flex;
  justify-content: end;
  color: aliceblue;
  font-size: 30px;
}
header .container .navbar a {
  color: aliceblue;
  text-decoration: none;
  padding: 5px 18px;
  border-radius: 5px;
  cursor: pointer;
}
header .container .navbar a:hover {
  background-color: aliceblue;
  color: #398378;
  transition: 0.5s;
}
@media screen and (max-width: 768px) {
  header .container .navbar a:hover {
    width: 100%;
    text-align: center;
  }
}
@media screen and (max-width: 768px) {
  header .container .navbar {
    display: none;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 50px;
  }
}
header .mobile-menu-icon {
  display: none;
}
@media screen and (max-width: 768px) {
  header .mobile-menu-icon {
    background: #252424;
    position: absolute;
    right: 0px;
    top: 0px;
    color: grey;
    padding: 12px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
    text-transform: uppercase;
    text-align: center;
  }
}

.adjust-content-top {
  height: 100px;
}
@media screen and (max-width: 768px) {
  .adjust-content-top {
    height: 50px;
  }
}

/*
************************************************
### MAIN - INDEX ###
************************************************
*/
.intro-container {
  position: relative;
  text-align: center;
}
.intro-container img {
  display: block;
  max-width: 100%;
  height: auto;
}
.intro-container .title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.intro-container .title h2 {
  font-size: 50px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: aliceblue;
  text-shadow: 1px 2px 5px black;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .intro-container .title h2 {
    font-size: 25px;
  }
}

.intro-description .intro-icons {
  display: flex;
  justify-content: space-around;
}
.intro-description .intro-icons img {
  margin: 50px 0px;
  width: 150px;
}
.intro-description .intro-icons img:hover {
  transition: 0.3s;
  opacity: 0.6;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .intro-description .intro-icons {
    flex-direction: column;
    align-items: center;
  }
}
.intro-description .intro-paragraph {
  padding: 20px;
}
.intro-description .intro-paragraph p {
  font-size: 25px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}

.testimonials {
  background-color: lightgray;
}
.testimonials .testimonial-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding-top: 30px;
}
.testimonials .testimonial-container:last-child {
  padding-bottom: 30px;
}
.testimonials .testimonial-container img {
  margin: 50px 0px;
  padding: 30px 30px;
  width: 200px;
}
@media screen and (max-width: 768px) {
  .testimonials .testimonial-container img {
    width: 100px;
    margin: 0;
  }
}
.testimonials .testimonial-container p {
  width: 75%;
  font-size: 20px;
  text-align: justify;
}
@media screen and (max-width: 768px) {
  .testimonials .testimonial-container {
    display: flex;
    flex-direction: column;
  }
}

/*
************************************************
### MAIN - LOGIN ###
************************************************
*/
.container #dv-display {
  display: none;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: #dc3545;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  height: 8%;
  border-radius: 0px 0px 10px 10px;
}

#login {
  display: flex;
  align-items: center;
  height: 100vh;
}
#login .login-title {
  width: 90%;
  margin: 10px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
}
@media screen and (max-width: 768px) {
  #login .login-title {
    flex-direction: column;
  }
}
#login .login-title img {
  width: 50%;
  border-radius: 20px;
}
@media screen and (max-width: 768px) {
  #login .login-title img {
    display: none;
  }
}
#login .login-title #login-box,
#login .login-title #logout-box {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#login .login-title #login-box input,
#login .login-title #logout-box input {
  width: 50%;
  height: 40px;
  padding: 20px;
  margin-top: 20px;
  font-size: 25px;
  color: #252424;
}
#login .login-title #login-box button,
#login .login-title #logout-box button {
  border: none;
  border-radius: 5px;
  margin: 50px auto 10px;
  color: white;
  background-color: #398378;
  padding: 10px 40px;
  text-align: center;
  text-decoration: none;
  font-size: 25px;
  cursor: pointer;
}
#login .login-title #login-box button:hover,
#login .login-title #logout-box button:hover {
  background-color: rgba(57, 131, 120, 0.6352941176);
  transition: 0.5s;
}
#login .login-title #login-box a,
#login .login-title #logout-box a {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: grey;
  padding: 20px;
  text-align: center;
}

/*
************************************************
### MAIN - BOOKING ###
************************************************
*/
.booking {
  width: 100%;
}
.booking .owner-workspace-container {
  border: solid;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  margin-top: 10px;
}
.booking .owner-workspace-container p {
  margin: 0 20px;
}
.booking .workspaces-container .search-bar-container {
  border: solid;
  display: flex;
  justify-content: center;
  padding: 20px;
  margin: 10px 0;
}
@media screen and (max-width: 768px) {
  .booking .workspaces-container .search-bar-container {
    flex-direction: column;
    align-items: center;
    margin: 10px 0;
  }
}
.booking .workspaces-container .search-bar-container #dropdown-search-bar {
  width: 150px;
  margin: 10px 15px;
  padding: 10px;
  border: none;
  background-color: #edf7f9;
  color: #333;
  font-size: 14px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
@media screen and (max-width: 768px) {
  .booking .workspaces-container .search-bar-container #dropdown-search-bar {
    width: 300px;
    margin: 0;
  }
}
.booking .workspaces-container .search-bar-container #dropdown-search-bar:focus {
  outline: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.booking .workspaces-container .rooms-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.booking .workspaces-container .rooms-container .room-division {
  border: solid;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.booking .workspaces-container .rooms-container .room-division .room-description {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .booking .workspaces-container .rooms-container .room-division .room-description {
    flex-direction: column;
  }
}
.booking .workspaces-container .rooms-container .room-division .room-description img {
  width: 50%;
  margin: 50px;
}
@media screen and (max-width: 768px) {
  .booking .workspaces-container .rooms-container .room-division .room-description img {
    width: 80%;
    margin: 20px;
    min-width: 300px;
  }
}
.booking .workspaces-container .rooms-container .room-division .room-description .div-workspace {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10px;
}
.booking .workspaces-container .rooms-container .room-division .room-description .div-workspace ul {
  width: 100%;
}
.booking .workspaces-container .rooms-container .room-division .div-property {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
}
.booking .workspaces-container .rooms-container .room-division .div-property ul {
  list-style-type: none;
}
.booking .workspaces-container .rooms-container .room-division .button-container {
  display: flex;
  justify-content: center;
  margin: 20px;
}
.booking .modal-calendar-container #modal-calendar {
  border: solid;
  display: none;
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  align-items: center;
  justify-content: center;
}
.booking .modal-calendar-container #modal-calendar .modal-content {
  border: solid;
  padding: 20px;
  width: 80%;
  height: 550px;
  max-width: 600px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: lightgray;
}
.booking .modal-calendar-container #modal-calendar .modal-content #calendar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 300px;
}
.booking .modal-calendar-container #modal-calendar .modal-content #calendar-container #calendar-dates-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 0;
  width: 100%;
}
.booking .modal-calendar-container #modal-calendar .modal-content #calendar-container #calendar-month-year-information {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: solid 2px;
  width: 100%;
}
.booking .modal-calendar-container #modal-calendar .modal-content #calendar-container table {
  width: 100%;
  border-collapse: separate;
  background-color: #252424;
  margin: 15px 0;
  height: 280px;
}
.booking .modal-calendar-container #modal-calendar .modal-content #calendar-container table th,
.booking .modal-calendar-container #modal-calendar .modal-content #calendar-container table td {
  width: 50px;
  text-align: center;
  border: none;
  color: grey;
}
.booking .modal-calendar-container #modal-calendar .modal-content #calendar-container table th {
  background-color: #edf7f9;
  height: 8px;
}
.booking .modal-calendar-container #modal-calendar .modal-content #calendar-container table td.available {
  background-color: #28a745;
  color: aliceblue;
  cursor: pointer;
}
.booking .modal-calendar-container #modal-calendar .modal-content #calendar-container table td.available:hover {
  background-color: #1e7e34;
}
.booking .modal-calendar-container #modal-calendar .modal-content #calendar-container table td.unavailable {
  background-color: #dc3545;
  color: aliceblue;
}
.booking .modal-calendar-container #modal-calendar .modal-content #calendar-container table td.selected {
  background-color: #007bff;
  color: aliceblue;
  cursor: pointer;
}
.booking .modal-calendar-container #modal-calendar .modal-content .calendar-buttons-container-submit-close {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

/*
************************************************
### MAIN - OWNER SPACE ###
************************************************
*/
.ownerspace {
  width: 100%;
  overflow: hidden;
}
.ownerspace .owner-workspace-page-container {
  border: solid;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100px;
  margin-top: 10px;
}
@media screen and (max-width: 768px) {
  .ownerspace .owner-workspace-page-container {
    display: flex;
    flex-direction: column;
    height: 150px;
  }
}
.ownerspace .workspaces-container .search-bar-container {
  border: solid;
  display: flex;
  justify-content: center;
  padding: 20px;
  margin: 10px 0;
}
@media screen and (max-width: 768px) {
  .ownerspace .workspaces-container .search-bar-container .search-bar-divison {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
  }
}
.ownerspace .workspaces-container .search-bar-container .search-bar-divison #dropdown-search-bar-property {
  width: 150px;
  margin: 10px 15px;
  padding: 10px;
  border: none;
  background-color: #edf7f9;
  color: #333;
  font-size: 14px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: none;
}
@media screen and (max-width: 768px) {
  .ownerspace .workspaces-container .search-bar-container .search-bar-divison #dropdown-search-bar-property {
    width: 300px;
    margin: 0;
  }
}
.ownerspace .workspaces-container .search-bar-container .search-bar-divison #dropdown-search-bar-property:focus {
  outline: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.ownerspace .workspaces-container .search-bar-container .search-bar-divison #search-bar-property {
  display: none;
}
.ownerspace .workspaces-container .search-bar-container .search-bar-divison #dropdown-search-bar-workspace {
  width: 150px;
  margin: 10px 15px;
  padding: 10px;
  border: none;
  background-color: #edf7f9;
  color: #333;
  font-size: 14px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
@media screen and (max-width: 768px) {
  .ownerspace .workspaces-container .search-bar-container .search-bar-divison #dropdown-search-bar-workspace {
    width: 300px;
    margin: 0;
  }
}
.ownerspace .workspaces-container .search-bar-container .search-bar-divison #dropdown-search-bar-workspace:focus {
  outline: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.ownerspace .workspaces-container .search-bar-container .search-bar-divison #search-bar-workspace {
  display: inline;
}
.ownerspace .workspaces-container .properties-container {
  display: none;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.ownerspace .workspaces-container .property-division {
  border: solid;
  min-width: 350px;
  width: 33%;
  height: 180px;
  padding: 20px;
  margin-bottom: 10px;
  position: relative;
}
.ownerspace .workspaces-container .property-division .property-description-container {
  display: flex;
  justify-content: center;
}
.ownerspace .workspaces-container .property-division .button-property-container {
  display: flex;
  justify-content: space-around;
  margin: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.ownerspace .workspaces-container .rooms-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.ownerspace .workspaces-container .rooms-container .room-division {
  border: solid;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.ownerspace .workspaces-container .rooms-container .room-division .room-description {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .ownerspace .workspaces-container .rooms-container .room-division .room-description {
    flex-direction: column;
  }
}
.ownerspace .workspaces-container .rooms-container .room-division .room-description img {
  width: 50%;
  margin: 50px;
}
@media screen and (max-width: 768px) {
  .ownerspace .workspaces-container .rooms-container .room-division .room-description img {
    width: 80%;
    margin: 20px;
    min-width: 300px;
  }
}
.ownerspace .workspaces-container .rooms-container .room-division .room-description .workplace-description {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10px;
}
.ownerspace .workspaces-container .rooms-container .room-division .room-description .workplace-description ul {
  width: 100%;
}
.ownerspace .workspaces-container .rooms-container .room-division .property-description-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
}
.ownerspace .workspaces-container .rooms-container .room-division .property-description-container ul {
  list-style-type: none;
}
.ownerspace .workspaces-container .rooms-container .room-division .button-container {
  display: flex;
  justify-content: space-around;
  margin: 20px;
}
.ownerspace .modal-add-property-container #modal-add-property,
.ownerspace .modal-add-property-container .modal-add-workspace,
.ownerspace .modal-add-workspace-container #modal-add-property,
.ownerspace .modal-add-workspace-container .modal-add-workspace {
  border: solid;
  display: none;
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  align-items: center;
  justify-content: center;
}
.ownerspace .modal-add-property-container #modal-add-property .modal-content-property,
.ownerspace .modal-add-property-container #modal-add-property .modal-content-workspace,
.ownerspace .modal-add-property-container .modal-add-workspace .modal-content-property,
.ownerspace .modal-add-property-container .modal-add-workspace .modal-content-workspace,
.ownerspace .modal-add-workspace-container #modal-add-property .modal-content-property,
.ownerspace .modal-add-workspace-container #modal-add-property .modal-content-workspace,
.ownerspace .modal-add-workspace-container .modal-add-workspace .modal-content-property,
.ownerspace .modal-add-workspace-container .modal-add-workspace .modal-content-workspace {
  border: solid;
  padding: 20px;
  width: 80%;
  height: 550px;
  max-width: 600px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
}
.ownerspace .modal-add-property-container #modal-add-property .modal-content-property h2,
.ownerspace .modal-add-property-container #modal-add-property .modal-content-workspace h2,
.ownerspace .modal-add-property-container .modal-add-workspace .modal-content-property h2,
.ownerspace .modal-add-property-container .modal-add-workspace .modal-content-workspace h2,
.ownerspace .modal-add-workspace-container #modal-add-property .modal-content-property h2,
.ownerspace .modal-add-workspace-container #modal-add-property .modal-content-workspace h2,
.ownerspace .modal-add-workspace-container .modal-add-workspace .modal-content-property h2,
.ownerspace .modal-add-workspace-container .modal-add-workspace .modal-content-workspace h2 {
  padding: 10px;
  font-size: 24px;
  font-weight: bold;
  color: #333;
}
.ownerspace .modal-add-property-container #modal-add-property .modal-content-property .add-property-form,
.ownerspace .modal-add-property-container #modal-add-property .modal-content-property .add-workspace-form,
.ownerspace .modal-add-property-container #modal-add-property .modal-content-workspace .add-property-form,
.ownerspace .modal-add-property-container #modal-add-property .modal-content-workspace .add-workspace-form,
.ownerspace .modal-add-property-container .modal-add-workspace .modal-content-property .add-property-form,
.ownerspace .modal-add-property-container .modal-add-workspace .modal-content-property .add-workspace-form,
.ownerspace .modal-add-property-container .modal-add-workspace .modal-content-workspace .add-property-form,
.ownerspace .modal-add-property-container .modal-add-workspace .modal-content-workspace .add-workspace-form,
.ownerspace .modal-add-workspace-container #modal-add-property .modal-content-property .add-property-form,
.ownerspace .modal-add-workspace-container #modal-add-property .modal-content-property .add-workspace-form,
.ownerspace .modal-add-workspace-container #modal-add-property .modal-content-workspace .add-property-form,
.ownerspace .modal-add-workspace-container #modal-add-property .modal-content-workspace .add-workspace-form,
.ownerspace .modal-add-workspace-container .modal-add-workspace .modal-content-property .add-property-form,
.ownerspace .modal-add-workspace-container .modal-add-workspace .modal-content-property .add-workspace-form,
.ownerspace .modal-add-workspace-container .modal-add-workspace .modal-content-workspace .add-property-form,
.ownerspace .modal-add-workspace-container .modal-add-workspace .modal-content-workspace .add-workspace-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid 1px;
  padding: 15px;
  font-size: 16px;
  color: #333;
  margin-top: 10px;
}
.ownerspace .modal-add-property-container #modal-add-property .modal-content-property p,
.ownerspace .modal-add-property-container #modal-add-property .modal-content-workspace p,
.ownerspace .modal-add-property-container .modal-add-workspace .modal-content-property p,
.ownerspace .modal-add-property-container .modal-add-workspace .modal-content-workspace p,
.ownerspace .modal-add-workspace-container #modal-add-property .modal-content-property p,
.ownerspace .modal-add-workspace-container #modal-add-property .modal-content-workspace p,
.ownerspace .modal-add-workspace-container .modal-add-workspace .modal-content-property p,
.ownerspace .modal-add-workspace-container .modal-add-workspace .modal-content-workspace p {
  cursor: default;
  margin-top: 10px;
  color: #333;
  font-weight: 500;
}
.ownerspace .modal-add-property-container #modal-add-property .modal-content-property .add-property-radio-container,
.ownerspace .modal-add-property-container #modal-add-property .modal-content-property .add-workspace-radio-container,
.ownerspace .modal-add-property-container #modal-add-property .modal-content-workspace .add-property-radio-container,
.ownerspace .modal-add-property-container #modal-add-property .modal-content-workspace .add-workspace-radio-container,
.ownerspace .modal-add-property-container .modal-add-workspace .modal-content-property .add-property-radio-container,
.ownerspace .modal-add-property-container .modal-add-workspace .modal-content-property .add-workspace-radio-container,
.ownerspace .modal-add-property-container .modal-add-workspace .modal-content-workspace .add-property-radio-container,
.ownerspace .modal-add-property-container .modal-add-workspace .modal-content-workspace .add-workspace-radio-container,
.ownerspace .modal-add-workspace-container #modal-add-property .modal-content-property .add-property-radio-container,
.ownerspace .modal-add-workspace-container #modal-add-property .modal-content-property .add-workspace-radio-container,
.ownerspace .modal-add-workspace-container #modal-add-property .modal-content-workspace .add-property-radio-container,
.ownerspace .modal-add-workspace-container #modal-add-property .modal-content-workspace .add-workspace-radio-container,
.ownerspace .modal-add-workspace-container .modal-add-workspace .modal-content-property .add-property-radio-container,
.ownerspace .modal-add-workspace-container .modal-add-workspace .modal-content-property .add-workspace-radio-container,
.ownerspace .modal-add-workspace-container .modal-add-workspace .modal-content-workspace .add-property-radio-container,
.ownerspace .modal-add-workspace-container .modal-add-workspace .modal-content-workspace .add-workspace-radio-container {
  text-align: center;
  margin-top: 10px;
}
.ownerspace .modal-add-property-container #modal-add-property .modal-content-property .radio-option-container:last-child,
.ownerspace .modal-add-property-container #modal-add-property .modal-content-workspace .radio-option-container:last-child,
.ownerspace .modal-add-property-container .modal-add-workspace .modal-content-property .radio-option-container:last-child,
.ownerspace .modal-add-property-container .modal-add-workspace .modal-content-workspace .radio-option-container:last-child,
.ownerspace .modal-add-workspace-container #modal-add-property .modal-content-property .radio-option-container:last-child,
.ownerspace .modal-add-workspace-container #modal-add-property .modal-content-workspace .radio-option-container:last-child,
.ownerspace .modal-add-workspace-container .modal-add-workspace .modal-content-property .radio-option-container:last-child,
.ownerspace .modal-add-workspace-container .modal-add-workspace .modal-content-workspace .radio-option-container:last-child {
  margin-bottom: 10px;
}
.ownerspace .modal-add-property-container #modal-add-property .modal-content-property .radio-option-container,
.ownerspace .modal-add-property-container #modal-add-property .modal-content-workspace .radio-option-container,
.ownerspace .modal-add-property-container .modal-add-workspace .modal-content-property .radio-option-container,
.ownerspace .modal-add-property-container .modal-add-workspace .modal-content-workspace .radio-option-container,
.ownerspace .modal-add-workspace-container #modal-add-property .modal-content-property .radio-option-container,
.ownerspace .modal-add-workspace-container #modal-add-property .modal-content-workspace .radio-option-container,
.ownerspace .modal-add-workspace-container .modal-add-workspace .modal-content-property .radio-option-container,
.ownerspace .modal-add-workspace-container .modal-add-workspace .modal-content-workspace .radio-option-container {
  text-align: center;
  cursor: default;
  margin-top: 5px;
}
.ownerspace .modal-add-property-container #modal-add-property .modal-content-property .radio-option-container input,
.ownerspace .modal-add-property-container #modal-add-property .modal-content-workspace .radio-option-container input,
.ownerspace .modal-add-property-container .modal-add-workspace .modal-content-property .radio-option-container input,
.ownerspace .modal-add-property-container .modal-add-workspace .modal-content-workspace .radio-option-container input,
.ownerspace .modal-add-workspace-container #modal-add-property .modal-content-property .radio-option-container input,
.ownerspace .modal-add-workspace-container #modal-add-property .modal-content-workspace .radio-option-container input,
.ownerspace .modal-add-workspace-container .modal-add-workspace .modal-content-property .radio-option-container input,
.ownerspace .modal-add-workspace-container .modal-add-workspace .modal-content-workspace .radio-option-container input {
  cursor: pointer;
  margin-right: 5px;
  opacity: 0;
  position: absolute;
  z-index: -1;
}
.ownerspace .modal-add-property-container #modal-add-property .modal-content-property .radio-option-container input:checked + label::before,
.ownerspace .modal-add-property-container #modal-add-property .modal-content-workspace .radio-option-container input:checked + label::before,
.ownerspace .modal-add-property-container .modal-add-workspace .modal-content-property .radio-option-container input:checked + label::before,
.ownerspace .modal-add-property-container .modal-add-workspace .modal-content-workspace .radio-option-container input:checked + label::before,
.ownerspace .modal-add-workspace-container #modal-add-property .modal-content-property .radio-option-container input:checked + label::before,
.ownerspace .modal-add-workspace-container #modal-add-property .modal-content-workspace .radio-option-container input:checked + label::before,
.ownerspace .modal-add-workspace-container .modal-add-workspace .modal-content-property .radio-option-container input:checked + label::before,
.ownerspace .modal-add-workspace-container .modal-add-workspace .modal-content-workspace .radio-option-container input:checked + label::before {
  border-color: #398378;
  background-color: #398378;
}
.ownerspace .modal-add-property-container #modal-add-property .modal-content-property .radio-option-container input:focus + label::before,
.ownerspace .modal-add-property-container #modal-add-property .modal-content-workspace .radio-option-container input:focus + label::before,
.ownerspace .modal-add-property-container .modal-add-workspace .modal-content-property .radio-option-container input:focus + label::before,
.ownerspace .modal-add-property-container .modal-add-workspace .modal-content-workspace .radio-option-container input:focus + label::before,
.ownerspace .modal-add-workspace-container #modal-add-property .modal-content-property .radio-option-container input:focus + label::before,
.ownerspace .modal-add-workspace-container #modal-add-property .modal-content-workspace .radio-option-container input:focus + label::before,
.ownerspace .modal-add-workspace-container .modal-add-workspace .modal-content-property .radio-option-container input:focus + label::before,
.ownerspace .modal-add-workspace-container .modal-add-workspace .modal-content-workspace .radio-option-container input:focus + label::before {
  box-shadow: 0 0 0 2px #398378;
}
.ownerspace .modal-add-property-container #modal-add-property .modal-content-property .radio-option-container input:disabled + label,
.ownerspace .modal-add-property-container #modal-add-property .modal-content-workspace .radio-option-container input:disabled + label,
.ownerspace .modal-add-property-container .modal-add-workspace .modal-content-property .radio-option-container input:disabled + label,
.ownerspace .modal-add-property-container .modal-add-workspace .modal-content-workspace .radio-option-container input:disabled + label,
.ownerspace .modal-add-workspace-container #modal-add-property .modal-content-property .radio-option-container input:disabled + label,
.ownerspace .modal-add-workspace-container #modal-add-property .modal-content-workspace .radio-option-container input:disabled + label,
.ownerspace .modal-add-workspace-container .modal-add-workspace .modal-content-property .radio-option-container input:disabled + label,
.ownerspace .modal-add-workspace-container .modal-add-workspace .modal-content-workspace .radio-option-container input:disabled + label {
  opacity: 0.5;
  cursor: not-allowed;
}
.ownerspace .modal-add-property-container #modal-add-property .modal-content-property .radio-option-container label,
.ownerspace .modal-add-property-container #modal-add-property .modal-content-workspace .radio-option-container label,
.ownerspace .modal-add-property-container .modal-add-workspace .modal-content-property .radio-option-container label,
.ownerspace .modal-add-property-container .modal-add-workspace .modal-content-workspace .radio-option-container label,
.ownerspace .modal-add-workspace-container #modal-add-property .modal-content-property .radio-option-container label,
.ownerspace .modal-add-workspace-container #modal-add-property .modal-content-workspace .radio-option-container label,
.ownerspace .modal-add-workspace-container .modal-add-workspace .modal-content-property .radio-option-container label,
.ownerspace .modal-add-workspace-container .modal-add-workspace .modal-content-workspace .radio-option-container label {
  margin-right: 15px;
  padding: 0 2px;
  cursor: pointer;
  position: relative;
  padding-left: 25px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.ownerspace .modal-add-property-container #modal-add-property .modal-content-property .radio-option-container label::before,
.ownerspace .modal-add-property-container #modal-add-property .modal-content-workspace .radio-option-container label::before,
.ownerspace .modal-add-property-container .modal-add-workspace .modal-content-property .radio-option-container label::before,
.ownerspace .modal-add-property-container .modal-add-workspace .modal-content-workspace .radio-option-container label::before,
.ownerspace .modal-add-workspace-container #modal-add-property .modal-content-property .radio-option-container label::before,
.ownerspace .modal-add-workspace-container #modal-add-property .modal-content-workspace .radio-option-container label::before,
.ownerspace .modal-add-workspace-container .modal-add-workspace .modal-content-property .radio-option-container label::before,
.ownerspace .modal-add-workspace-container .modal-add-workspace .modal-content-workspace .radio-option-container label::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 16px;
  border: 2px solid #777;
  border-radius: 50%;
  background-color: #fff;
  transition: border-color 0.2s ease, background-color 0.2s ease;
}

/*
************************************************
### FOOTER ###
************************************************
*/
footer {
  background-color: black;
}
footer .container .copyright-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100px;
}
footer .container .copyright-footer p {
  color: aliceblue;
  text-align: center;
  font-style: italic;
}/*# sourceMappingURL=style.css.map */