/*
************************************************
### PARAMETERS ###
************************************************
*/
$bgColor0: #edf7f9;
$bgColor1: #398378;
$bgColor2: #398378a2;
$bgColor3: lightgray;
$bgColor4: black;
$bgColor5: #252424;

$txtColor0: aliceblue;
$txtColor1: #398378;
$txtColor2: grey;
$txtColor3: white;
$txtColor4: #333;

$btnColor0: grey;
$btnColor1: #398378;
$btnColor2: #396283;
$btnColor3: #833e39;

$selectedColor: #007bff;
$availableColor: #28a745;
$unavailableColor: #dc3545;

$font-size-m1: 1rem;
$font-size-m2: 1.375rem;
$font-size-m3: 1.75rem;

$max-width1: 768px;
$max-width2: 480px;

* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

html,
body {
  scroll-behavior: smooth;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

.container {
  max-width: 1280px;
  margin: auto;
}

.btn {
  padding: 12px 24px;
  margin: 10px;
  width: 180px;
  cursor: pointer;
  background-color: $btnColor1;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  transition: background-color 0.3s ease-in-out;

  &:hover {
    background-color: darken($btnColor1, 10%);
  }

  &:focus {
    outline: none;
  }

  &:disabled {
    background-color: $btnColor0;
    cursor: not-allowed;
  }
}

.input {
  width: 300px;
  margin: 10px 0;
  padding: 10px;
  border: none;
  background-color: $bgColor0;
  color: #333;
  font-size: 14px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;

  &:focus {
    outline: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  @media screen and (max-width: $max-width1) {
    width: 250px;
  }
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
  width: 280px;
}

/*
************************************************
### HEADER ###
************************************************
*/
header {
  background-color: $bgColor4;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;

  .container {
    display: flex;
    height: 100px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    @media screen and (max-width: $max-width1) {
      height: 51px;
      font-size: $font-size-m2;
      font-weight: 700;
    }

    .logo {
      display: flex;
      justify-content: center;
      text-align: center;
      align-items: center;
      padding-left: 30px;

      .adjust-content-greeting{
        width: 80px;
      }
      
      #greeting{
          color: white;
          font-size: 25px; 
          width: 100%;
      }

      img {
        width: 80px;
        height: 80px;
        border-radius: 50%;

        @media screen and (max-width: $max-width1) {
          display: none;
        }
      }

      .menu-logo-mobile {
        display: none;
        color: $txtColor0;

        @media screen and (max-width: $max-width1) {
          display: contents;
        }
      }
    }

    .navbar {
      background-color: $bgColor4;
      width: 50%;
      display: flex;
      justify-content: end;
      color: $txtColor0;
      font-size: 30px;

      a {
        color: $txtColor0;
        text-decoration: none;
        padding: 5px 18px;
        border-radius: 5px;
        cursor: pointer;
      }

      a:hover {
        background-color: $txtColor0;
        color: $txtColor1;
        transition: 0.5s;

        @media screen and (max-width: $max-width1) {
          width: 100%;
          text-align: center;
        }
      }

      @media screen and (max-width: $max-width1) {
        display: none;
        flex-direction: column;
        align-items: center;
        position: fixed;
        top: 50px;
      }
    }
  }

  .mobile-menu-icon {
    display: none;

    @media screen and (max-width: $max-width1) {
      background: $bgColor5;
      position: absolute;
      right: 0px;
      top: 0px;
      color: $txtColor2;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
      display: block;
      text-transform: uppercase;
      text-align: center;
    }
  }
}

.adjust-content-top {
  height: 100px;

  @media screen and (max-width: $max-width1) {
    height: 50px;
  }
}

/*
************************************************
### MAIN - INDEX ###
************************************************
*/
.intro-container {
  position: relative;
  text-align: center;

  #room-picture {
    display: block;
    max-width: 100%;
    height: auto;
    opacity: 0.1;
  }

  .title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    h2 {
      font-size: 50px;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      color: $txtColor0;
      text-shadow: 1px 2px 5px black;
      text-align: center;

      @media screen and (max-width: $max-width1) {
        font-size: 28px;
      }
    }
  }
}

.intro-description {
  .intro-icons {
    display: flex;
    justify-content: space-around;

    img {
      margin: 50px 0px;
      width: 150px;
    }

    img:hover {
      transition: 0.3s;
      opacity: 0.6;
      cursor: pointer;
    }

    @media screen and (max-width: $max-width1) {
      flex-direction: column;
      align-items: center;
    }
  }

  .intro-paragraph {
    padding: 20px;

    p {
      font-size: 25px;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      text-align: center;
    }
  }
}

.testimonials {
  background-color: $bgColor3;

  .testimonial-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding-top: 30px;

    &:last-child {
      padding-bottom: 30px;
    }

    img {
      margin: 50px 0px;
      padding: 30px 30px;
      width: 200px;

      @media screen and (max-width: $max-width1) {
        width: 100px;
        margin: 0;
      }
    }

    p {
      width: 75%;
      font-size: 20px;
      text-align: justify;
    }

    @media screen and (max-width: $max-width1) {
      display: flex;
      flex-direction: column;
    }
  }
}

/*
************************************************
### MAIN - LOGIN ###
************************************************
*/

.container {
  #dv-display {
    display: none;
    align-items: center;
    justify-content: center;
    color: $txtColor3;
    background-color: $unavailableColor;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    height: 8%;
    border-radius: 0px 0px 10px 10px;
  }
}

#login {
  display: flex;
  align-items: center;
  height: 100vh;

  .login-title {
    width: 90%;
    margin: 10px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;

    @media screen and (max-width: $max-width1) {
      flex-direction: column;
    }

    img {
      width: 50%;
      border-radius: 20px;

      @media screen and (max-width: $max-width1) {
        width: 60%;
      }
    }

    #logout-box {
      width: 100%;
      display: none;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      input {
        width: 50%;
        height: 40px;
        padding: 20px;
        margin-top: 20px;
        font-size: 25px;
        color: $bgColor5;
      }

      button {
        border: none;
        border-radius: 5px;
        margin: 50px auto 10px;
        color: white;
        background-color: $bgColor1;
        padding: 10px 40px;
        text-align: center;
        text-decoration: none;
        font-size: 25px;
        cursor: pointer;
      }

      button:hover {
        background-color: $bgColor2;
        transition: 0.5s;
      }

      p {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: grey;
        padding: 20px;
        text-align: center;
      }
    }

    #login-box {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      input {
        width: 50%;
        height: 40px;
        padding: 20px;
        margin-top: 20px;
        font-size: 25px;
        color: $bgColor5;
      }

      button {
        border: none;
        border-radius: 5px;
        margin: 50px auto 10px;
        color: white;
        background-color: $bgColor1;
        padding: 10px 40px;
        text-align: center;
        text-decoration: none;
        font-size: 25px;
        cursor: pointer;
      }

      button:hover {
        background-color: $bgColor2;
        transition: 0.5s;
      }

      a {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: grey;
        padding: 20px;
        text-align: center;
      }
    }
  }
}

/*
************************************************
### MAIN - SIGN-UP PAGE ###
************************************************
*/

#login {
  @media screen and (max-width: $max-width1) {
    height: 110vh;
  }

  #signup-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    input {
      width: 70%;
      height: 40px;
      padding: 10px;
      margin: 10px 0px;
      font-size: 25px;
      color: $bgColor5;

      @media screen and (max-width: $max-width1) {
        font-size: 20px;
        padding: 10px;
        height: 25px;
      }
    }

    button {
      border: none;
      border-radius: 5px;
      color: white;
      background-color: $bgColor1;
      padding: 10px 40px;
      text-align: center;
      text-decoration: none;
      font-size: 25px;
      cursor: pointer;
      margin: 10px 0px;
    }

    button:hover {
      background-color: $bgColor2;
      transition: 0.5s;
    }

    p {
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      color: grey;
      margin: 10px 0px;
      text-align: center;
    }

    .switch {
      position: relative;
      display: inline-block;
      width: 60px;
      height: 34px;
      margin: 10px 0px;
    }

    .switch input {
      opacity: 0;
      width: 0;
      height: 0;
    }

    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      -webkit-transition: 0.4s;
      transition: 0.4s;
    }

    .slider:before {
      position: absolute;
      content: "";
      height: 26px;
      width: 26px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      -webkit-transition: 0.4s;
      transition: 0.4s;
    }

    input:checked + .slider {
      background-color: $bgColor1;
    }

    input:focus + .slider {
      box-shadow: 0 0 1px #2196f3;
    }

    input:checked + .slider:before {
      -webkit-transform: translateX(26px);
      -ms-transform: translateX(26px);
      transform: translateX(26px);
    }

    .slider.round {
      border-radius: 34px;
    }

    .slider.round:before {
      border-radius: 50%;
    }
  }
}
/*
************************************************
### MAIN - BOOKING ###
************************************************
*/
.booking {
  width: 100%;

  .owner-workspace-container {
    border: solid;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    margin: 20px;
    border: 2px solid #000000;
    background-color: #f0f0f0;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);

    p {
      margin: 0 20px;
    }
  }

  .workspaces-container {
    .search-bar-container {
      border: 2px solid #000000;
      display: flex;
      justify-content: center;
      padding: 20px;
      margin: 20px 20px;
      background-color: #f0f0f0;
      border-radius: 4px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);

      @media screen and (max-width: $max-width1) {
        flex-direction: column;
        align-items: center;
      }

      #dropdown-search-bar {
        width: 150px;
        margin: 10px 15px;
        padding: 10px;
        border: none;
        background-color: $bgColor0;
        color: #333;
        font-size: 14px;
        border-radius: 4px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

        @media screen and (max-width: $max-width1) {
          width: 250px;
          margin: 0;
        }

        &:focus {
          outline: none;
          box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        }
      }
    }

    .rooms-container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
      margin: 20px 20px;

      flex-basis: calc(33.33% - 40px);

      &:not(:last-child) {
        margin-right: 20px;
      }

      .property-card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: #f0f0f0;
        border-radius: 4px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
          0 6px 20px 0 rgba(0, 0, 0, 0.19);
        animation-name: fadeRight;
        animation-duration: 1s;
        animation-timing-function: ease-in-out;
        animation-fill-mode: forwards;
        opacity: 0;
        transform: translateX(100%);
        margin-bottom: 20px;
        width: 300px;
        margin: 10px;

        @keyframes fadeRight {
          0% {
            opacity: 0;
            transform: translateX(100%);
          }
          100% {
            opacity: 1;
            transform: translateX(0%);
          }
        }

        @keyframes unset {
          0% {
            opacity: 0;
            transform: translateX(0%);
          }
          100% {
            opacity: 1;
            transform: translateX(0%);
          }
        }

        @media screen and (max-width: $max-width2) {
          width: 100%;
        }
      }

      .wrap-img {
        display: flex;
        align-items: center;
        justify-content: center;

        @media screen and (max-width: $max-width1) {
          flex-direction: column;
        }

        .property-image {
          width: 100%;
          object-fit: cover;
          border-radius: 5px;
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
            0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }
      }

      .address-neighborhood {
        height: 70px;
        margin-top: 10px;
        margin-left: 10px;
        margin-right: 10px;
        text-align: center;
        font-size: 24px;
        font-weight: bold;
        color: #333;
      }

      .property-info-container {
        margin-top: 10px;
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        align-items: center;
      }

      .property-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 8px;
        width: 100%;
      }

      .subtitle-highlight {
        font-size: 16px;
        color: #555;
      }

      .highlight,
      .icon-highlight {
        font-weight: bold;
        font-size: 20px;
        color: #555;
      }

      .parking-info {
        margin-top: 8px;
        font-size: 12px;
        color: #777;
        opacity: 0.8;
      }

      .workspace-division {
        display: flex;
        justify-content: space-evenly;
      }

      .workspace-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-bottom: 8px;
      }

      .btn-container {
        margin: 5px 0;
        display: flex;
        justify-content: center;
      }
    }
  }

  .modal-calendar-container {
    #modal-calendar {
      border: solid;
      display: none;
      position: fixed;
      z-index: 2;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
      background-color: rgba(0, 0, 0, 0.4);
      align-items: center;
      justify-content: center;

      .modal-content {
        border: 2px solid #000000;
        padding: 20px;
        width: 80%;
        height: 550px;
        max-width: 600px;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #f0f0f0;

        #calendar-container {
          display: flex;
          flex-direction: column;
          align-items: center;
          max-width: 300px;

          #calendar-dates-buttons {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 15px 0;
            width: 100%;
          }

          #calendar-month-year-information {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            border: solid 2px;
            border-radius: 4px;
            width: 100%;
          }

          table {
            width: 100%;
            border-collapse: separate;
            background-color: $bgColor5;
            border-radius: 4px;
            margin: 15px 0;
            height: 280px;
            th,
            td {
              width: 50px;
              text-align: center;
              border: none;
              color: $txtColor2;
            }

            th {
              background-color: $bgColor0;
              height: 8px;
            }

            td.available {
              background-color: $availableColor;
              color: $txtColor0;
              cursor: pointer;

              &:hover {
                background-color: darken($availableColor, 10%);
              }
            }

            td.unavailable {
              background-color: $unavailableColor;
              color: $txtColor0;
            }

            td.selected {
              background-color: $selectedColor;
              color: $txtColor0;
              cursor: pointer;

              &:hover {
                background-color: darken($selectedColor, 10%);
              }
            }
          }
        }

        .calendar-buttons-container-submit-close {
          display: flex;
          justify-content: space-between;
          width: 50%;

          @media screen and (max-width: 900px) {
            display: flex;
            justify-content: center;
          }
        }
      }
    }
  }
}

/*
************************************************
### MAIN - OWNER SPACE ###
************************************************
*/
.ownerspace {
  width: 100%;
  overflow: hidden;

  .owner-workspace-page-container {
    border: 2px solid #000000;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    margin: 20px;
    background-color: #f0f0f0;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);

    @media screen and (max-width: 900px) {
      display: flex;
      flex-direction: column;
      height: 150px;
    }

    @media screen and (max-width: $max-width2) {
      height: 280px;
      text-align: center;
    }
  }

  .workspaces-container {
    .search-bar-container {
      border: 2px solid #000000;
      display: flex;
      justify-content: center;
      padding: 20px;
      margin: 20px 20px;
      background-color: #f0f0f0;
      border-radius: 4px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);

      .search-bar-divison {
        @media screen and (max-width: $max-width1) {
          display: flex;
          flex-direction: column;
          justify-content: center;
        }

        #dropdown-search-bar-property {
          width: 150px;
          margin: 10px 15px;
          padding: 10px;
          border: none;
          background-color: $bgColor0;
          color: #333;
          font-size: 14px;
          border-radius: 4px;
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
          display: none;

          @media screen and (max-width: $max-width1) {
            width: 250px;
            margin: 0;
          }

          &:focus {
            outline: none;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
          }
        }

        #search-bar-property {
          display: none;
        }

        #dropdown-search-bar-workspace {
          width: 150px;
          margin: 10px 15px;
          padding: 10px;
          border: none;
          background-color: $bgColor0;
          color: #333;
          font-size: 14px;
          border-radius: 4px;
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

          @media screen and (max-width: $max-width1) {
            width: 250px;
            margin: 0;
          }

          &:focus {
            outline: none;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
          }
        }

        #search-bar-workspace {
          display: inline;
        }
      }
    }

    .properties-container {
      display: none;
      justify-content: space-evenly;
      flex-wrap: wrap;
    }

    .property-division {
      min-width: 300px;
      width: 33%;
      height: 240px;
      padding: 20px;
      margin-left: 20px;
      margin-right: 20px;
      margin-bottom: 20px;
      position: relative;
      transition: transform 0.2s ease-in-out;
      background-color: #f0f0f0;
      border-radius: 4px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
      animation-name: fadeRight;
      animation-duration: 1s;
      animation-timing-function: ease-in-out;
      animation-fill-mode: forwards;
      opacity: 0;
      transform: translateX(100%);

      @keyframes fadeRight {
        0% {
          opacity: 0;
          transform: translateX(100%);
        }
        100% {
          opacity: 1;
          transform: translateX(0%);
        }
      }

      &:hover {
        transform: scale(1.05);
      }

      @media screen and (max-width: $max-width2) {
        width: 100%;
        min-width: min-content;
        height: 310px;
      }

      .property-description-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .property-description-wrap {
          margin: 30px 0;
        }
      }

      .button-property-container {
        display: flex;
        justify-content: space-around;
        margin: 10px;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;

        @media screen and (max-width: $max-width2) {
          flex-direction: column;
          align-items: center;
        }

        #btn-update-property {
          background-color: $btnColor1;

          &:hover {
            background-color: darken($btnColor1, 10%);
          }
        }

        button[name="Deactivate"] {
          background-color: $btnColor3;

          &:hover {
            background-color: darken($btnColor3, 10%);
          }
        }

        button[name="Activate"] {
          background-color: $btnColor2;

          &:hover {
            background-color: darken($btnColor2, 10%);
          }
        }
      }
    }

    // .rooms-container {
    //   display: flex;
    //   flex-direction: column;
    //   justify-content: space-around;
    //   width: 100%;

    //   .room-division {
    //     margin-left: 20px;
    //     margin-right: 20px;
    //     margin-bottom: 20px;
    //     display: flex;
    //     flex-direction: column;
    //     justify-content: center;
    //     padding: 20px;
    //     background-color: #f0f0f0;
    //     border-radius: 4px;
    //     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    //       0 6px 20px 0 rgba(0, 0, 0, 0.19);
    //     animation-name: fadeRight;
    //     animation-duration: 1s;
    //     animation-timing-function: ease-in-out;
    //     animation-fill-mode: forwards;
    //     opacity: 0;
    //     transform: translateX(100%);

    //     @keyframes fadeRight {
    //       0% {
    //         opacity: 0;
    //         transform: translateX(100%);
    //       }
    //       100% {
    //         opacity: 1;
    //         transform: translateX(0%);
    //       }
    //     }

    //     .room-description {
    //       display: flex;
    //       align-items: center;
    //       justify-content: center;
    //       width: 100%;

    //       @media screen and (max-width: $max-width1) {
    //         flex-direction: column;
    //       }

    //       img {
    //         width: 50%;
    //         margin: 50px;
    //         border-radius: 4px;
    //         box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    //           0 6px 20px 0 rgba(0, 0, 0, 0.19);

    //         @media screen and (max-width: $max-width1) {
    //           width: 80%;
    //           margin: 20px;
    //           min-width: 300px;
    //         }
    //       }

    //       .workplace-description {
    //         width: 100%;
    //         display: flex;
    //         flex-direction: column;
    //         align-items: center;
    //         margin: 0 10px;

    //         ul {
    //           width: 100%;
    //         }
    //       }
    //     }

    //     .property-description-container {
    //       display: flex;
    //       flex-direction: column;
    //       align-items: center;
    //       margin: 20px 0;

    //       ul {
    //         list-style-type: none;
    //       }
    //     }

    //     .button-container {
    //       display: flex;
    //       justify-content: space-around;
    //       margin: 20px;

    //       #btn-update-workspace {
    //         background-color: $btnColor1;

    //         &:hover {
    //           background-color: darken($btnColor1, 10%);
    //         }
    //       }

    //       button[name="Deactivate"] {
    //         background-color: $btnColor3;

    //         &:hover {
    //           background-color: darken($btnColor3, 10%);
    //         }
    //       }

    //       button[name="Activate"] {
    //         background-color: $btnColor2;

    //         &:hover {
    //           background-color: darken($btnColor2, 10%);
    //         }
    //       }
    //     }
    //   }
    // }

    .rooms-container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
      margin: 20px 20px;

      flex-basis: calc(33.33% - 40px);

      &:not(:last-child) {
        margin-right: 20px;
      }

      .property-card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: #f0f0f0;
        border-radius: 4px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
          0 6px 20px 0 rgba(0, 0, 0, 0.19);
        animation-name: fadeRight;
        animation-duration: 1s;
        animation-timing-function: ease-in-out;
        animation-fill-mode: forwards;
        opacity: 0;
        transform: translateX(100%);
        margin-bottom: 20px;
        width: 300px;
        margin: 10px;

        @keyframes fadeRight {
          0% {
            opacity: 0;
            transform: translateX(100%);
          }
          100% {
            opacity: 1;
            transform: translateX(0%);
          }
        }

        @keyframes unset {
          0% {
            opacity: 0;
            transform: translateX(0%);
          }
          100% {
            opacity: 1;
            transform: translateX(0%);
          }
        }

        @media screen and (max-width: $max-width2) {
          width: 100%;
        }
      }

      .wrap-img {
        display: flex;
        align-items: center;
        justify-content: center;

        @media screen and (max-width: $max-width1) {
          flex-direction: column;
        }

        .property-image {
          width: 100%;
          object-fit: cover;
          border-radius: 5px;
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
            0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }
      }

      .address-neighborhood {
        height: 70px;
        margin-top: 10px;
        margin-left: 10px;
        margin-right: 10px;
        text-align: center;
        font-size: 24px;
        font-weight: bold;
        color: #333;
      }

      .property-info-container {
        margin-top: 10px;
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        align-items: center;
      }

      .property-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 8px;
        width: 100%;
      }

      .subtitle-highlight {
        font-size: 16px;
        color: #555;
      }

      .highlight,
      .icon-highlight {
        font-weight: bold;
        font-size: 20px;
        color: #555;
      }

      .parking-info {
        margin-top: 8px;
        font-size: 12px;
        color: #777;
        opacity: 0.8;
      }

      .workspace-division {
        display: flex;
        justify-content: space-evenly;
      }

      .workspace-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-bottom: 8px;
      }

      .workspace-status {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-top: 20px;
      }

      .button-container {
        display: flex;
        justify-content: space-around;
        margin: 10px;

        #btn-update-workspace {
          background-color: $btnColor1;
          padding: 12px 0px;

          &:hover {
            background-color: darken($btnColor1, 10%);
          }
        }

        button[name="Deactivate"] {
          background-color: $btnColor3;
          padding: 12px 0px;

          &:hover {
            background-color: darken($btnColor3, 10%);
          }
        }

        button[name="Activate"] {
          background-color: $btnColor2;
          padding: 12px 0px;

          &:hover {
            background-color: darken($btnColor2, 10%);
          }
        }
      }
    }
  }

  .modal-add-property-container,
  .modal-add-workspace-container {
    #modal-add-property,
    .modal-add-workspace {
      border: solid;
      display: none;
      position: fixed;
      z-index: 2;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
      background-color: rgba(0, 0, 0, 0.4);
      align-items: center;
      justify-content: center;

      .modal-content-property,
      .modal-content-workspace {
        border: 2px solid #000000;
        padding: 20px;
        width: 80%;
        height: 600px;
        max-width: 600px;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #f0f0f0;

        h2 {
          padding: 10px;
          font-size: 24px;
          font-weight: bold;
          color: $txtColor4;
        }

        .add-property-form,
        .add-workspace-form {
          display: flex;
          flex-direction: column;
          align-items: center;
          border: solid 1px;
          padding: 15px;
          font-size: 16px;
          color: $txtColor4;
          margin-top: 10px;
          margin-bottom: 20px;
          width: 90%;

          input {
            width: 280px;
          }

          @media screen and (max-width: $max-width2) {
            border: none;
          }

          .button-container {
            @media screen and (max-width: $max-width1) {
              display: flex;
              flex-direction: column;
            }
          }

          p {
            cursor: default;
            margin-top: 10px;
            color: $txtColor4;
            font-weight: 500;
          }

          .add-property-radio-container,
          .add-workspace-radio-container {
            text-align: center;
            margin-top: 10px;
          }

          .radio-option-container:last-child {
            margin-bottom: 10px;
          }

          .radio-option-container {
            text-align: center;
            cursor: default;
            margin-top: 5px;

            input {
              cursor: pointer;
              margin-right: 5px;
              opacity: 0;
              position: absolute;
              z-index: -1;

              &:checked + label {
                &::before {
                  border-color: $bgColor1;
                  background-color: $bgColor1;
                }
              }

              &:focus + label {
                &::before {
                  box-shadow: 0 0 0 2px $bgColor1;
                }
              }

              &:disabled + label {
                opacity: 0.5;
                cursor: not-allowed;
              }
            }

            label {
              margin-right: 15px;
              padding: 0 2px;
              cursor: pointer;

              position: relative;
              padding-left: 25px;
              cursor: pointer;
              user-select: none;

              &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 16px;
                height: 16px;
                border: 2px solid #777;
                border-radius: 50%;
                background-color: #fff;
                transition: border-color 0.2s ease, background-color 0.2s ease;
              }
            }
          }
        }
      }

      .modal-content-property {
        @media screen and (max-width: $max-width1) {
          width: 75vw;
          height: 75vh;
        }
        @media screen and (max-width: $max-width2) {
          width: 80vw;
          height: 65vh;
        }
      }
      .modal-content-workspace {
        @media screen and (max-width: $max-width1) {
          width: 75vw;
          height: 85vh;
        }
        @media screen and (max-width: $max-width2) {
          width: 80vw;
          height: 90vh;
        }
      }
    }
  }
}

/*
************************************************
### MAIN - ABOUT PAGE ###
************************************************
*/

.container {
  #introduction {
    .intro-container {
      #coding-picture {
        display: block;
        max-width: 100%;
        height: auto;
        opacity: 0;
      }
    }
  }

  .about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    p {
      width: 75%;
      font-size: 20px;
      text-align: justify;
      padding-bottom: 30px;
    }

    ul {
      width: 80%;
      list-style-type: none;
    }
    li {
      width: 100%;
      font-size: 20px;
      text-align: center;
      margin: 20px 0;
      padding: 0;
    }
  }
}

/*
************************************************
### MAIN - CONTACT PAGE ###
************************************************
*/

.container {
  #contact-us {
    display: flex;
    flex-direction: row;
    margin: 100px auto;
    justify-content: center;
    align-items: center;
    height: 70vh;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;

    @media screen and (max-width: $max-width1) {
      flex-direction: column;
      height: 150vh;
      width: 80%;
    }

    .half-card-left {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      width: 100%;
      height: 100%;
      text-align: center;
      color: $txtColor1;

      h1 {
        padding: 10px 30px;
        font-size: 40px;
      }

      img {
        width: 40%;

        @media screen and (max-width: $max-width1) {
          width: 60%;
        }

        @media screen and (max-width: $max-width2) {
          width: 80%;
        }
      }

      h2 {
        padding: 10px 20px;
        font-size: 30px;
      }
    }

    .half-card-right {
      width: 100%;
      text-align: center;

      form {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      input {
        border: 1px solid $bgColor3;
        font-size: 25px;
        padding: 10px;
        margin: 10px 0px;
        width: 64%;
      }

      #form-text {
        font-size: 18px;
        padding: 10px;
        width: 70%;
        height: 150px;
        box-sizing: border-box;
        border: 1px solid $bgColor3;
        resize: none;
      }

      #sendMsg {
        border: none;
        border-radius: 5px;
        margin: 20px;
        width: 15%;
        color: white;
        background-color: $bgColor1;
        padding: 10px 10px;
        text-decoration: none;
        font-size: 25px;
      }

      #sendMsg:hover {
        background-color: $bgColor2;
        transition: 0.5s;
      }

      @media screen and (max-width: $max-width1) {
        #sendMsg {
          width: 30%;
        }
      }
    }
  }

  .map {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;

    iframe {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
      border-radius: 10px;
      margin: 0 10%;
      width: 100%;
      height: 400px;
    }

    @media screen and (max-width: $max-width1) {
      iframe {
        width: 80%;
      }
    }
  }
}

/*
************************************************
### FOOTER ###
************************************************
*/
footer {
  background-color: $bgColor4;

  .container {
    .copyright-footer {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      height: 100px;

      p {
        color: $txtColor0;
        text-align: center;
        font-style: italic;
      }
    }
  }
}
