/*
************************************************
### PARAMETERS ###
************************************************
*/
* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

html,
body {
  scroll-behavior: smooth;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

.container {
  max-width: 1280px;
  margin: auto;
}

.btn {
  padding: 5px 5px;
  margin: 10px;
  width: 120px;
}

.input {
  width: 300px;
  margin: 10px;
  padding: 5px 5px;
}

/*
************************************************
### HEADER ###
************************************************
*/
header {
  background-color: black;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}
header .container {
  display: flex;
  height: 100px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  header .container {
    height: 51px;
    font-size: 1.375rem;
    font-weight: 700;
  }
}
header .container .logo {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding-left: 30px;
}
header .container .logo img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
@media screen and (max-width: 768px) {
  header .container .logo img {
    display: none;
  }
}
header .container .logo .menu-logo-mobile {
  display: none;
  color: aliceblue;
}
@media screen and (max-width: 768px) {
  header .container .logo .menu-logo-mobile {
    display: contents;
  }
}
header .container .navbar {
  background-color: black;
  width: 100%;
  display: flex;
  justify-content: end;
  color: aliceblue;
  font-size: 30px;
}
header .container .navbar a {
  color: aliceblue;
  text-decoration: none;
  padding: 5px 18px;
  border-radius: 5px;
  cursor: pointer;
}
header .container .navbar a:hover {
  background-color: aliceblue;
  color: #398378;
  transition: 0.5s;
}
@media screen and (max-width: 768px) {
  header .container .navbar a:hover {
    width: 100%;
    text-align: center;
  }
}
@media screen and (max-width: 768px) {
  header .container .navbar {
    display: none;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 50px;
  }
}
header .mobile-menu-icon {
  display: none;
}
@media screen and (max-width: 768px) {
  header .mobile-menu-icon {
    background: #252424;
    position: absolute;
    right: 0px;
    top: 0px;
    color: grey;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
    text-transform: uppercase;
    text-align: center;
  }
}

.adjust-content-top {
  height: 100px;
}
@media screen and (max-width: 768px) {
  .adjust-content-top {
    height: 50px;
  }
}

/*
************************************************
### MAIN - INDEX ###
************************************************
*/
.intro-container {
  position: relative;
  text-align: center;
}
.intro-container img {
  display: block;
  max-width: 100%;
  height: auto;
}
.intro-container .title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.intro-container .title h2 {
  font-size: 50px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: aliceblue;
  text-shadow: 1px 2px 5px black;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .intro-container .title h2 {
    font-size: 25px;
  }
}

.intro-description .intro-icons {
  display: flex;
  justify-content: space-around;
}
.intro-description .intro-icons img {
  margin: 50px 0px;
  width: 150px;
}
.intro-description .intro-icons img:hover {
  transition: 0.3s;
  opacity: 0.6;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .intro-description .intro-icons {
    flex-direction: column;
    align-items: center;
  }
}
.intro-description .intro-paragraph {
  padding: 20px;
}
.intro-description .intro-paragraph p {
  font-size: 25px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}

.testimonials {
  background-color: lightgray;
}
.testimonials .testimonial-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding-top: 30px;
}
.testimonials .testimonial-container:last-child {
  padding-bottom: 30px;
}
.testimonials .testimonial-container img {
  margin: 50px 0px;
  padding: 30px 30px;
  width: 200px;
}
@media screen and (max-width: 768px) {
  .testimonials .testimonial-container img {
    width: 100px;
    margin: 0;
  }
}
.testimonials .testimonial-container p {
  width: 75%;
  font-size: 20px;
  text-align: justify;
}
@media screen and (max-width: 768px) {
  .testimonials .testimonial-container {
    display: flex;
    flex-direction: column;
  }
}

/*
************************************************
### MAIN - LOGIN ###
************************************************
*/
#login {
  display: flex;
  align-items: center;
  height: 100vh;
}
#login .login-title {
  width: 90%;
  margin: 10px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
}
@media screen and (max-width: 768px) {
  #login .login-title {
    flex-direction: column;
  }
}
#login .login-title img {
  width: 50%;
  border-radius: 20px;
}
@media screen and (max-width: 768px) {
  #login .login-title img {
    display: none;
  }
}
#login .login-title #login-box {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#login .login-title #login-box input {
  width: 50%;
  height: 40px;
  padding: 20px;
  margin-top: 20px;
  font-size: 25px;
  color: #252424;
}
#login .login-title #login-box button {
  border: none;
  border-radius: 5px;
  margin: 50px auto 10px;
  color: white;
  background-color: #398378;
  padding: 10px 40px;
  text-align: center;
  text-decoration: none;
  font-size: 25px;
  cursor: pointer;
}
#login .login-title #login-box button:hover {
  background-color: rgba(57, 131, 120, 0.6352941176);
  transition: 0.5s;
}
#login .login-title #login-box a {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: grey;
  padding: 20px;
  text-align: center;
}

/*
************************************************
### MAIN - BOOKING ###
************************************************
*/
.booking {
  width: 100%;
}
.booking .owner-workspace-container {
  border: solid;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  margin-top: 10px;
}
.booking .owner-workspace-container p {
  margin: 0 20px;
}
.booking .workspaces-container .search-bar-container {
  border: solid;
  display: flex;
  justify-content: center;
  padding: 20px;
  margin: 10px 0;
}
.booking .workspaces-container .search-bar-container #dropdown-search-bar {
  width: 150px;
  margin: 10px;
  padding: 5px 5px;
}
.booking .workspaces-container .rooms-container .room-division {
  border: solid;
  margin-bottom: 20px;
}
.booking .workspaces-container .rooms-container .room-division .room-description {
  display: flex;
  justify-content: center;
  align-items: center;
}
.booking .workspaces-container .rooms-container .room-division .room-description img {
  width: 50%;
  padding: 50px;
}
.booking .workspaces-container .rooms-container .room-division .room-description ul {
  width: 100%;
  padding: 50px;
}
.booking .workspaces-container .rooms-container .room-division .button-container {
  display: flex;
  justify-content: center;
  margin: 20px;
}
.booking .modal-calendar-container #modal-calendar {
  border: solid;
  display: none;
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  align-items: center;
  justify-content: center;
}
.booking .modal-calendar-container #modal-calendar .modal-content {
  border: solid;
  padding: 20px;
  width: 80%;
  height: 480px;
  max-width: 600px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: lightgray;
}
.booking .modal-calendar-container #modal-calendar .modal-content #calendar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 300px;
}
.booking .modal-calendar-container #modal-calendar .modal-content #calendar-container #calendar-dates-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 0;
  width: 100%;
}
.booking .modal-calendar-container #modal-calendar .modal-content #calendar-container #calendar-month-year-information {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: solid 2px;
  width: 100%;
}
.booking .modal-calendar-container #modal-calendar .modal-content #calendar-container table {
  width: 100%;
  border-collapse: separate;
  background-color: #252424;
  margin: 15px 0;
  height: 280px;
}
.booking .modal-calendar-container #modal-calendar .modal-content #calendar-container table th,
.booking .modal-calendar-container #modal-calendar .modal-content #calendar-container table td {
  width: 50px;
  text-align: center;
  border: none;
  color: grey;
}
.booking .modal-calendar-container #modal-calendar .modal-content #calendar-container table th {
  background-color: #edf7f9;
  height: 8px;
}
.booking .modal-calendar-container #modal-calendar .modal-content #calendar-container table td.available {
  background-color: #28a745;
  color: aliceblue;
  cursor: pointer;
}
.booking .modal-calendar-container #modal-calendar .modal-content #calendar-container table td.available:hover {
  background-color: #1e7e34;
}
.booking .modal-calendar-container #modal-calendar .modal-content #calendar-container table td.unavailable {
  background-color: #dc3545;
  color: aliceblue;
}
.booking .modal-calendar-container #modal-calendar .modal-content #calendar-container table td.selected {
  background-color: #007bff;
  color: aliceblue;
  cursor: pointer;
}
.booking .modal-calendar-container #modal-calendar .modal-content .calendar-buttons-container-submit-close {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

/*
************************************************
### MAIN - OWNER SPACE ###
************************************************
*/
.ownerspace {
  width: 100%;
  overflow: hidden;
}
.ownerspace .owner-workspace-page-container {
  border: solid;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100px;
  margin-top: 10px;
}
@media screen and (max-width: 768px) {
  .ownerspace .owner-workspace-page-container {
    display: flex;
    flex-direction: column;
  }
}
.ownerspace .workspaces-container .search-bar-container {
  border: solid;
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
  margin: 10px 0;
}
.ownerspace .workspaces-container .search-bar-container .search-bar-divison {
  margin: 0 10px;
}
@media screen and (max-width: 768px) {
  .ownerspace .workspaces-container .search-bar-container .search-bar-divison {
    display: flex;
    flex-direction: column;
  }
}
.ownerspace .workspaces-container .search-bar-container .search-bar-divison #dropdown-search-bar-property,
.ownerspace .workspaces-container .search-bar-container .search-bar-divison #dropdown-search-bar-workspace {
  width: 150px;
  margin: 10px;
  padding: 5px 5px;
}
@media screen and (max-width: 768px) {
  .ownerspace .workspaces-container .search-bar-container .search-bar-divison #dropdown-search-bar-property,
  .ownerspace .workspaces-container .search-bar-container .search-bar-divison #dropdown-search-bar-workspace {
    width: 200px;
  }
}
.ownerspace .workspaces-container .search-bar-container .search-bar-divison input {
  width: 200px;
}
.ownerspace .workspaces-container .properties-container {
  display: none;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.ownerspace .workspaces-container .property-division {
  border: solid;
  min-width: 350px;
  width: 33%;
  height: 180px;
  padding: 20px;
  margin-bottom: 10px;
  position: relative;
}
.ownerspace .workspaces-container .property-division .property-description-container {
  display: flex;
  justify-content: center;
}
.ownerspace .workspaces-container .property-division .button-property-container {
  display: flex;
  justify-content: space-around;
  margin: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.ownerspace .workspaces-container .rooms-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.ownerspace .workspaces-container .rooms-container .room-division {
  border: solid;
  margin-bottom: 20px;
}
.ownerspace .workspaces-container .rooms-container .room-division .room-description {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .ownerspace .workspaces-container .rooms-container .room-division .room-description {
    flex-direction: column;
  }
}
.ownerspace .workspaces-container .rooms-container .room-division .room-description img {
  width: 50%;
  padding: 20px;
}
@media screen and (max-width: 768px) {
  .ownerspace .workspaces-container .rooms-container .room-division .room-description img {
    width: 80%;
  }
}
.ownerspace .workspaces-container .rooms-container .room-division .room-description .workplace-description {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ownerspace .workspaces-container .rooms-container .room-division .room-description .workplace-description ul {
  width: 100%;
  padding: 20px;
  text-align: center;
  list-style-type: none;
}
@media screen and (max-width: 768px) {
  .ownerspace .workspaces-container .rooms-container .room-division .room-description .workplace-description ul {
    width: 80%;
  }
}
.ownerspace .workspaces-container .rooms-container .room-division .property-description-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ownerspace .workspaces-container .rooms-container .room-division .button-container {
  display: flex;
  justify-content: space-around;
  margin: 20px;
}
.ownerspace .modal-add-space-container #modal-add-space {
  border: solid;
  display: none;
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  align-items: center;
  justify-content: center;
}
.ownerspace .modal-add-space-container #modal-add-space .modal-content {
  border: solid;
  padding: 20px;
  width: 80%;
  max-width: 600px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: lightgray;
}
.ownerspace .modal-add-space-container #modal-add-space .modal-content h2 {
  padding-bottom: 20px;
}
.ownerspace .modal-add-space-container #modal-add-space .modal-content .add-space-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ownerspace .modal-add-space-container #modal-add-space .modal-content .add-space-form .add-space-radio-container {
  display: flex;
  justify-content: space-between;
  border: solid;
  width: 295px;
  padding: 5px;
}
.ownerspace .modal-add-space-container #modal-add-space .modal-content .add-space-form .add-space-radio-container p {
  padding: 0 5px;
}
.ownerspace .modal-add-space-container #modal-add-space .modal-content .add-space-form .add-space-radio-container label {
  padding: 0 5px;
}
.ownerspace .modal-add-space-container #modal-add-space .modal-content .add-space-form #button-close {
  margin: 10px 0;
}

/*
************************************************
### FOOTER ###
************************************************
*/
footer {
  background-color: black;
}
footer .container .copyright-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100px;
}
footer .container .copyright-footer p {
  color: aliceblue;
  text-align: center;
  font-style: italic;
}/*# sourceMappingURL=style.css.map */